@import '../variables';

.hero-detail-wrapper {
  background-color: $selection;
  font-size: 1.5em;

  h2 {
    text-align: center;
  }

  .input-area {
    label {
      width: 100%;
      margin-right: 100%;
    }
  
    input {
      height: 20%;
      width: 80%;
      margin-left: 10%;
    }
  }

  .button-area {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    padding-bottom: 5%;
    button {
      color: $foreground;
      text-decoration: none;
      background-color: $comment;
      padding: 1.5%;
      border-radius: 5%;
      border: 2px solid $current_line;
      margin-right: 1%;
      padding-left: 3%;
      padding-right: 3%;
      cursor: pointer;
    }
  }
}