@import 'variables';

.app-wrapper {
    a.title {
        text-align: center;
        text-decoration: none;
        text-align: center;
        color: $foreground;
        font-size: 120%;
    }
}

h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

body {
    margin: 2em;
}

body, input[type="text"], button {
    font-family: Cambria, Georgia, serif;
}

* {
    font-family: Arial, Arial, Helvetica, sans-serif;
}

.app-wrapper nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    a {
        color: $foreground;
        text-decoration: none;
        background-color: $comment;
        padding: 1.5%;
        border-radius: 5%;
        border: 2px solid $current_line;
        margin-right: 1%;
        padding-left: 3%;
        padding-right: 3%;
    }
}