@import '../variables';

ul.heroes {
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0;
  -webkit-padding-start: 0;
}

.heroes-wrapper {
  background-color: $selection;
  font-size: 2em;

  h2 {
    text-align: center;
  }

  .heroes li {
    border-top: 3px solid $background;
  }
  
  .heroes li * {
    display: flex;
    text-decoration: none;
    color: $foreground;
  }
  
  .heroes li.selected, .heroes li:hover, .heroes li a:hover {
    background-color: $comment;
  }
  
  .heroes span.badge {
    display: inline-block;
    background-color: $background;
    justify-content: left;
  }

  .heroes span.name {
    justify-content: center;
    margin-left: 3%;
  }
}